<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
    <!-- 1) Show an alert when the Button gets clicked OK -->
    <div>
        <button v-on:click="alertar">Show Alert</button>
    </div>
    <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
    <div>
        <input v-on:keydown="guardarKey" type="text">
        <p>{{ value }}</p>
    </div>
    <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
    <div>
        <input v-on:keydown.enter="guardarKey" type="text">
        <p>{{ value }}</p>
    </div>
</div>
<script src="vue.js"></script>
<script src="app.js"> 
</script>