<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">Increase Second</button>
        <p>Counter: {{ counter }} | {{ secondCounter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
        <p></p>
    </div>
</body>
<script src="vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            counter: 0,
            secondCounter: 0
        },
        computed: {
            output: function () {
                return this.secondCounter > 5 ? 'Greater 5' : 'Smaller 5';
            }
        },
        watch: {
            counter: function (value) {
                var vm = this;
                setTimeout(function () {
                    vm.counter = 0;
                }, 2000)
            }
        },
        methods: {
            result: function () {
                return this.counter > 5 ? 'Greater 5' : 'Smaller 5';
            }
        }
    });
</script>

</html>