<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} - {{ i }}</li>
        </ul>
        <template v-for="(ingredient, i) in ingredients" :key="ingredient">
            <h1>{{ ingredient }}</h1>
            <p>{{ i }}</p>
        </template>
        <button @click="ingredients.push('spices')">Add New</button>
        <hr>
        <ul>
            <li v-for="person in persons">{{ person.name }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key) in person">{{ key }} : {{ value }}</div>
            </li>
        </ul>
        <hr>
        <span v-for="n in 10">{{ n }}</span>
        <hr>
    </div>

</body>
<script src="vue.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                { name: 'Max', age: 27, color: 'red' },
                { name: 'Anna', age: 'unknown', color: 'blue' }
            ]
        }

    });
</script>

</html>