<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <!--ao contrário do v-if que some mesmo, o v-show apenas oculta adicionando um display:none-->
        <p v-if="show">You can see me!</p>
        <p v-else>Now you see me?</p>
        <template v-if="show">
            <p>Inside a template</p>
        </template>
        <p>do you also see me?</p>
        <button @click="show = !show">Switch</button>        
    </div>

</body>
<script src="vue.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<script>
    new Vue({
        el: '#app',
        data: {
            show: true
        }

    });
</script>

</html>