<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button v-on:click="increase(2, $event)">Clique em mim</button>
        <p>
            {{counter}} {{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}
        </p>
        <p v-on:mousemove="updateCoordinates">Coordinates: {{ x }} / {{ y }} - <span v-on:mousemove.stop="">DEAD
                SPOT</span></p>

                <p><input v-on:keyup.enter.y.space.x.w="alertMe" type="text"/></p>
</body>
<script src="vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            counter: 0,
            x: 0,
            y: 0
        },
        methods: {
            increase: function (step, event) {
                this.counter += step;
            },
            updateCoordinates: function (event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            alertMe: function(){
                alert('alertou')
            }

        }
    });
</script>

</html>