<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>
            <h1 v-once>{{ title }}</h1>
            <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
            <hr>
            <p v-html="finishedLink"></p>
        </p>
</body>
<script src="vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            title: 'Hello World!',
            link: 'http://google.com',
            finishedLink: '<a href="http://google.com">Take me to google</a>'
        },
        methods: {
            sayHello() {
                this.title = 'Hello!';
                return 'Hellosss!';
            }
        }
    });
</script>

</html>