<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="exercise">
   <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{name}} {{age}}</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>Age multiplied by 3: {{ age*3 }}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{random}}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img v-bind:src="image" style="width:100px;height:100px">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input v-bind:value="name" type="text">
    </div>
</div>

<script>

new Vue({
    el: '#exercise',
    data: {
        name: 'Franklin',
        age: 22,
        random: (Math.random()),
        image: 'https://media1.giphy.com/media/13Dro9HMrdWe2I/giphy.gif'
    }

})

</script>